.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  transform: translateY(-100%);
  transition: all 400ms linear 1200ms ;
  &.active {
    transform: translateY(0);
  }
  // .header__container

  &__container {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920rem;
    width: 100%;
  }

  // .header__logo

  &__logo {
    cursor: pointer;
    font-size: 2.4rem;
  }

  // .header__right

  &__right {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  // .header__list

  &__list {
    display: flex;
    gap: 2rem;
  }

  // .header__item

  &__item {
    cursor: pointer;
    font-size: 2rem;
  }

  // .header__btn

  &__btn {
    border-radius: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--light-color);
    color: var(--dark-color);
  }
}
