.about {
  // .about__container

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  // .about__left

  &__left {
  }

  // .about__title

  &__title {
    font-size: 6.4rem;
    transform: translateY(10rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      font-size: 28px;
      transform: translateY(100px);
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  // .about__text

  &__text {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 130%;
    transform: translateY(15rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      font-size: 14px;
      margin-top: 20px;
      transform: translateY(150px);
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  // .about__location

  &__location {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transform: translateY(20rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      gap: 8px;
      margin-top: 20px;
      transform: translateY(200px);
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    img {
      width: 2.4rem;
      @media (max-width: 768px) {
        width: 24px;
      }
    }
    p {
      font-size: 2rem;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  // .about__pos

  &__pos {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transform: translateY(25rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      margin-top: 8px;
      gap: 8px;
      transform: translateY(250px);
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    img {
      width: 2.4rem;
      @media (max-width: 768px) {
        width: 24px;
      }
    }
    p {
      font-size: 2rem;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  // .about__socials

  &__socials {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    transform: translateY(30rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      margin-top: 20px;
      gap: 10px;
      transform: translateY(300px);
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  // .about__social

  &__social {
    width: 2.4rem;
    @media (max-width: 768px) {
      width: 24px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  // .about__right

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width:768px) {
      justify-content: center;
    }
  }

  // .about__skills

  &__skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 4rem;
    width: max-content;
    justify-items: center;
    @media (max-width: 768px) {
      gap: 20px 40px;
    }
  }

  // .about__skill

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    gap: 1rem;
    transition: all 300ms ease-in-out;
    transform: translateY(10rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @media (max-width: 768px) {
      width: 50px;
      gap: 10px;
      transform: translateY(100px);
    }
    &:nth-child(5) {
      grid-column: 2;
      transform: translateX(-75%) translateY(10rem);
      @media (max-width: 768px) {
        transform: translateX(-75%) translateY(100px);
      }
    }
    &:nth-child(6) {
      grid-column: 3;
      transform: translateX(-75%) translateY(10rem);
      @media (max-width: 768px) {
        transform: translateX(-75%) translateY(100px);
      }
    }
    &:nth-child(7) {
      grid-column: 4;
      transform: translateX(-75%) translateY(10rem);
      @media (max-width: 768px) {
        transform: translateX(-75%) translateY(100px);
      }
    }
    @for $i from 1 to 12 {
      .active &:nth-child(#{$i}) {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: all 300ms ease-in-out #{$i * 25}ms;
      }
    }
    .active & {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        transform: translateX(-75%) translateY(0);
      }
    }

    p {
      font-size: 2rem;
      text-align: center;
      transition: all 400ms ease-in-out;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    img {
      width: 100%;
    }
    @media (hover: hover) {
      &:has(~ &:hover) {
        filter: grayscale(100%);
      }

      &:hover {
        filter: grayscale(0%);
        img,
        p {
          transform: scale(1.2);
        }
      }

      &:hover ~ & {
        filter: grayscale(100%);
      }
    }
  }

  // .about__skill-wrapper

  &__skill-wrapper {
    width: 100%;
    height: 7.5rem;
    padding: 0.5rem;
    transition: all 400ms ease-in-out;
    @media (max-width: 768px) {
      height: 50px;
      padding: 5px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 400ms ease-in-out;
    }
  }
}
