:root {
  // Fonts
  --font: "Quantico", serif;

  // Colors
  --light-color: #fff;
  --dark-color: #000;
  --orange-color: #f37c57;
  --grey-color: #757575;
  
  //heights
  --fullScreen: calc(100lvh - 5.4rem);
}
